
#banner {
    background-color: #577399;
    color: white;
    width: 100%
}
input[type=text],select {
    margin-bottom: 10px;
    width: 75%;
    border: 3px solid #83BCFF;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #83BCFF;
    color: white;
    border: none;
    border-radius: 4px;


}
#cityResult {
    border: 1px solid #577399
}

#card-1 {
    background-color: lightgray;
}

#card-2 { 
    background-color: lightgray;

}

#card-3 { 
    background-color: lightgray;

}

#card-4 {
    background-color: lightgray;

}

#card-5 {
    background-color: lightgray;

}